@model IEnumerable<ASP.NetCoreProjekt.Models.Tank>


    <br />
    <h1>Remove a Fish from the Fish Tank</h1>
    <br />
    <h3>In this section, you can remove fishes from my fish tank</h3>

    <br />
    <br />
    
    <form asp-controller="removeFish" asp-action="Remove" method="post">
        <div class="input-group input-group-lg">
            <label>Id of the fish you want to delete:</label><br />
            <select class="form-control " id="id" name="id" style="width:300px;height:40px">
                @foreach (var fish in Model)
                {
                    <option>@fish.Id</option>
                }
            </select>
        </div>
        <br />
        <button type="submit" class="btn btn-danger">Remove</button>
    </form>
    <br />
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Species</th>
                    <th scope="col">Agressivity</th>
                    <th scope="col">Size</th>
                    <th scope="col">CareLevel</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var fish in Model)
            {
                <tr>
                    <th scope="row">@fish.Id</th>
                    <td>@fish.Name</td>
                    <td>@fish.Type</td>
                    <td>@fish.Species</td>
                    <td>@fish.Agressivity</td>
                    <td>@fish.Size</td>
                    <td>@fish.CareLevel</td>
                </tr>
        }

            </tbody>
        </table>
        <br />
        
    